@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;700&family=Raleway:wght@400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, p {
  font-family: 'Poppins', sans-serif;
}

a,span,li,button {
  font-family: 'Raleway', sans-serif;
}
.bg-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url('https://static.vecteezy.com/system/resources/thumbnails/038/996/793/original/ai-generated-a-tranquil-japanese-garden-adorned-with-cherry-blossoms-fantasy-landscape-anime-or-cartoon-style-seamless-looping-4k-time-lapse-virtual-animation-background-video.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}